<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <div class="nav col-lg-auto me-lg-auto justify-content-center mb-md-0">
        <a href="/" class="fs-2 white-text"> Voucher Kita </a>
      </div>

      <% if(!userSession) { %>
      <div class="text-end">
        <a href="/login" class="btn btn-outline-light me-2">Login</a>
        <a href="/register" class="btn btn-warning">Register</a>
      </div>
      <% } else { %>
      <div class="text-end">
        <div class="btn text-white bg-dark">
          Halo, <%= userSession.username %>!
        </div>
        <% if(userSession.role == 'seller') { %>
        <a
          href="/product/<%= userSession.id %>"
          class="btn btn-outline-light me-2"
          >Manage Product</a
        >
        <% } %>
        <a href="/logout" class="btn btn-warning">Logout</a>
      </div>
      <% } %>
    </div>
  </div>
</header>
